<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GosZakupkiBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GosZakupkiBot.Properties.Settings>
            <setting name="ParseAllTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ParseToEnd" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StartParse" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StatusParse" serializeAs="String">
                <value />
            </setting>
            <setting name="DateParse" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeParse" serializeAs="String">
                <value />
            </setting>
            <setting name="PriceParse" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonParse" serializeAs="String">
                <value />
            </setting>
            <setting name="Items" serializeAs="String">
                <value />
            </setting>
            <setting name="LastParse" serializeAs="String">
                <value />
            </setting>
        </GosZakupkiBot.Properties.Settings>
    </userSettings>
</configuration>